* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #132440;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}
.suhu {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
label {
  text-align: center;
  display: block;
  margin-top: 5px;
  font-weight: bold;
  color: #fffcfc;
}
input[type="number"] {
  width: 100%;
  margin-top: 1px;
  padding: 10px;
  background-color: #16476a;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #3b9797;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
